[sources]
unknown-registry = "deny"
unknown-git      = "deny"

[licenses]
allow = [ "Apache-2.0", "BSD-3-Clause", "MIT", "ISC", "Unicode-3.0" ]

[[licenses.clarify]]
name = "ring"
expression = "MIT AND ISC AND OpenSSL"
license-files = [
    { path = "LICENSE", hash = 0xbd0eed23 }
]
